/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
  .wrapper{
    max-width: 1060px;
    margin: 0 auto;
  }
  .wrapper_full{
    max-width: 1262px;
    margin: 0 auto;

  }
  .section_title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
  }
  .section_title::after{  
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  body{
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    line-height: 1.2;
    color: #102746;
    font-weight: normal;
    margin: 0;
    

  }

  img{
    max-width: 100%;
    height: auto;
  }

  /*HEADER*/

  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 999;
  }
  .header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
  }
  .header_active{
    background: #0E1D28;

  }

  .header_list{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
  }
  .header_item{
    margin-right: 82px;
    text-decoration: none;
    list-style: none;
  }

  .header_item:last-child{
    margin-right: 0;
  }

  .header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    
  }
  
.header_link:hover, .header_link:focus, .header_link:active{
  opacity: .75;
}

/*INTRO*/
.intro{
  min-height: 100vh;
  background: url(../img/svg/Hero.png)no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}
.intro_title{
  width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}
.intro_subtitle{
  width: 546px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
}
.search_form{
  border: 0;
  outline: none;
  
  
}
.search_form:focus{
  outline: none;
}
.search_form_wrap{
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.search_form_info{
  display: flex;
  flex-wrap: wrap;
}
.search_form_field{
  width: 297px;
  background: transparent url(../img/svg/oval.svg)no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
 
}
.search_form_field::placeholder{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.search_form_submit{
  padding: 15px 39px;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  background: #1B7DFF;
  border: 0;
}

.search_form_submit:hover, .search_form_submit:focus, .search_form_submit:active{
  background: #0e66da;
}


/*BENEFITS*/
.benefits_wrap{
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}
.benefits{
  margin-bottom: 131px;
}

.benefits_cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
  
}

.benefits_title{
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top:0;
  left: 0;
  transform: translateY(-100%);
  background: #fff;

}
.benefits_card{
  margin-top: 80px;
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits_card_title{
  color:black;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
  
}
.benefits_card_desc{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
  
}
.benefits_card_more{
  display: inline-block;
  padding-right: 59px;
  color: #006DFE;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  background: url(../img/svg/benefits_shape_icon.svg) no-repeat 95%  center;
  transition: 1s all;
}
.benefits_card_more:hover, .benefits_card_more:focus{
  background: url(../img/svg/benefits_shape_icon.svg) no-repeat right center;
}
.benefits_card_pic{
  max-width: 66px;
  margin-bottom: 37px;
}

/*Places Start*/
.places{
  margin-bottom: 131px;
}
.places_caption{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 36px;

}
.places_title{
  margin-right: 15px;
}
.places_view_all{
  font-size: 16px;
  text-decoration: none;
  color: #006DFE;
  background: url(../img/svg/benefits_shape_icon.svg) no-repeat 95%  center;
  transition: 2s all;
  padding-right: 59px;
  
}
.places_view_all:hover, .places_view_all:focus{
  background: url(../img/svg/benefits_shape_icon.svg) no-repeat right center;
  opacity: .65;
}
.places_cards{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-columns: repeat(auto-fill,minmax(400px,1fr)); */
  /* grid-gap: 10px; */
  margin: 0;
  
  
}
.places_card{
  position: relative;
  overflow: hidden;


}
.places_card::after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  background: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  
}
.places_card:hover .places_card_pic{
  transform: scale(1.05);
  overflow: hidden;
  
}
.places_card_size_lg{
  grid-column: span 3;
  padding: 0;
 
  /* grid-column: 500px; */
  /* grid-column: span 1/2; */
 
}
.places_card_size_sm{
  grid-column: span 2;
  padding: 0;
}

.places_card_pic_size_lg{
  height: 354px;
  object-fit: cover;
}
.places_card_pic_size_sm{
  height: 283px;
  width: 100%;
  object-fit: cover;
}
.places_card_title{
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}
.places_card_pic{
  width: 100%;
  height: 100%;
  transition: .15s all;
}
.places_card_link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/*Places End*/

/*Tour Starts*/
.tours{
  margin-bottom: 139px;

}

.tours_tour{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}
.tour_info{
  padding-left: 47px;
}
.tour_title{
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}
.tour_desc{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}
.tour_more{
  font-weight: normal;
  font-size: 16px;
  padding-right: 59px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/benefits_shape_icon.svg) no-repeat right center;
}
.tour_more:hover, .tour_more:focus{
  opacity: .65;
}

/*Tour End*/

/*Visit Start*/
.visit{
  margin-bottom: 86px;
}
.visit_cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}
.visit_card{
  display: flex;
  flex-direction: column;

}
.visit_card_title{
  margin-bottom: 54px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0 auto 0 0;
}
.visit_card_pic{
  position: relative;
  margin-bottom: 35px;
}
.visit_card_stats{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}
.visit_likes{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 20px;
  background: url(../img/svg/like_icon.svg) no-repeat right;
  margin-right: 14px;
}
.visit_comments{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 23px;
  background: url(../img/svg/comment_icon.svg) no-repeat right;
}
.visit_desc{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.visit_more{
  width: 118px;
  padding: 12px 19px;
  text-decoration: 0;
  background: #006DFE;
  color: #fff;
  font-size: 16px;
  margin: auto 0 0 0;
}
.visit_more:hover, .visit_more:focus, .visit_more:active{
  background: #006DFE;

}
/*Visit End*/

/*Video Starts*/

.videos{
  width: 100%;
}

.videos_wrapper{
  min-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.video_item{
  padding-top: 56.25%;
}
.video_element{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Visit Ends*/

/*Footer Starts*/
.footer{
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 119px 0;
  background: #0E1D28;
}
.footer_item{
  display: flex;
  flex-wrap: wrap;
  margin-right: 82px;
  text-decoration: none;
  list-style: none;
}
.footer_logo{
  width: 50%;
}
.footer_nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}
.footer_title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  
}
.footer_link{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.footer_link:hover, .footer_link:focus, .footer_link:active{
  opacity: .75;
}
/*Footer Ends*/